h1{text-align: center;}
body {
    height: 100vh;
    width: 100%;
    background-image: url(images/booking1.jpg);
    background-size: cover;
    background-position-x: center;
}
.box{
    margin:2rem auto; 
    width:498px ;
    padding:20px;
    background:#c8e0da9c;
    border:2px solid rgb(6, 6, 6);
    border-radius: 10px;
}
.box .form-control{
    background:#f3f5f6;
    border:2px solid #333;
}
.submit{
    text-align: center;
}